//-----------------------------
// Fonts
//-----------------------------

$general_font: "Roboto";

//-----------------------------
// Fonts Sizes
//-----------------------------

$label_size: 16px;
$title_size: 40px;
$value_size: 60px;
$button_size: 16px;
$field_size: 16px;
$error-message_size: 16px;

//-----------------------------
// Colors
//-----------------------------

$text_color: #000;
$accent_color: #4bcfa0;
$error_color: #e43f3f;
$button-filled_color: #fff;
